.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body,
html {
  height: 100%;
}

body {
    background: -ms-linear-gradient(to top, rgba(0,0,0,1) 0%,
      rgba(50,50,50,1) 45%, rgba(75,75,75,1) 65%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to top, rgba(0,0,0,1) 0%,
      rgba(50,50,50,1) 45%, rgba(75,75,75,1) 65%, rgba(0,0,0,1) 100%);
    color: #aaa;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 #widget {
  text-align: center;
} 

.wrapper {
  position: relative;
  display: inline-block;
}

.circle {
  display: block;
  background-color: #373737;
  background-image: linear-gradient(to top, #373737, #000);
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #222, inset 0px 2px 3px #2e4c6b;
  color: #a7a7a7;
  font-size: 24px;
  width: 100px;
  height: 100px;
  outline: none;
  text-align: center;
  transition: box-shadow 500ms ease-in-out;
}
  .circle::hover {
    color: #000000;
    background-color: #51a7ff;
    background-image: linear-gradient(to top, #51a7ff, #1c63ab);
  }
  .circle::open {
    background-image: linear-gradient(to top, #000, #373737);
    box-shadow: 0px 3px 8px #51a7ff, inset 0px 2px 3px #51a7ff;
  }
  .circle::before {
      border-top: 2px solid #51a7ff;
    }

  .circle::before {
    content: "";
    display: block;
    background: #000;
    border-top: 2px solid #2e4c6b;
    position: absolute;
    top: -18px;
    left: -18px;
    bottom: -18px;
    right: -18px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: inset 0px 8px 48px #222;
  }
  span {
    color: #51a7ff;
    text-shadow: 0px 3px 4px #000, inset 0px 2px 3px #51a7ff;
  }


.button {
  display: block;
  background-color: #373737;
  background-image: linear-gradient(to top, #373737, #000);
  border-radius: 50%;
  color: #a7a7a7;
  font-size: 12px;
  line-height: 83px;
  text-align: center;
  text-decoration: none;
  width: 83px;
  height: 83px;
}
   .center {
  z-index: -1;
  transition: top 400ms ease-in-out, left 400ms ease-in-out, box-shadow 400ms ease-in-out;
  } 
   .center::hover {
    color: #000;
    background-color: #51a7ff;
    background-image: linear-gradient(to top, #51a7ff, #1c63ab);
  }
  .center::open {
      animation: pulsate 3s infinite ease-in-out;
  } 

@keyframes pulsate {
  0% {
    box-shadow: 0px 0px 7px #002a54;
  }
  50% {
    box-shadow: 0px 0px 8px #51a7ff;
  }
  100% {
    box-shadow: 0px 0px 7px #002a54;
  }
} 